@import url(./components/gameHeader.css);
@import url(./components/mainMenu.css);
@import url(./components/redButton.css);
.question {
  width: 100%;
  background-color: var(--base-white, white);
  color: var(--base-black, black);
  padding: 18px 0px;
  font-weight: 600;
  font-size: 1.5em;
  display: flex;
  justify-content: center;
  border-radius: var(--border-radius, 16px);
  -webkit-box-shadow: var(--box-shadow-property);
  -moz-box-shadow: var(--box-shadow-property);
  box-shadow: var(--box-shadow-property); }

.swquiz-app__image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 600px;
  -webkit-box-shadow: var(--box-shadow-property);
  -moz-box-shadow: var(--box-shadow-property);
  box-shadow: var(--box-shadow-property);
  border-radius: var(--border-radius, 16px); }

.swquiz-app {
  width: 100%;
  display: grid;
  grid-template-columns: 30% 70%; }

.pictures {
  grid-column: 1; }

.game {
  grid-column: 2; }

:root {
  --border-radius: 15px;
  --box-shadow-color: red;
  --box-shadow-property: 0px 4px 4px rgba(0, 0, 0, 0.25),
    4px 4px 40px rgba(255, 0, 0, 0.9), inset 4px 5px 4px rgba(0, 0, 0, 0.5);
  --base-black: #000000;
  --base-white: #ffffff; }

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0 5vw;
  min-height: 100vh;
  background-image: url("/static/assets/ui/QuizBackground.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; }
