.container-answers {
    display: grid;
    width: 62.5vw;
    min-height: 350px;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 100px 100px; 
    column-gap: 25px;
    row-gap: 25px;
    justify-content: center;
    padding-right: 50px;
}
