.swquiz-app__image {
  -webkit-box-shadow: var(--box-shadow-property);
  -moz-box-shadow: var(--box-shadow-property);
  box-shadow: var(--box-shadow-property);
  border-radius: var(--border-radius);
}

.swquiz-sw-image {
  max-width: 100%;
  height: auto;
}