.swquiz-app__image {
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 600px;
  -webkit-box-shadow: var(--box-shadow-property);
  -moz-box-shadow: var(--box-shadow-property);
  box-shadow: var(--box-shadow-property);
  border-radius: var(--border-radius, 16px);
}
