.light-saber-container {
    position: relative;
    img {
        width: 25%;
    }
    .light {
        width: 75%;
        height: 60%;
        background-color: white;
        box-shadow: 0px 0px 10px 5px red;
        border-radius: 20px;
        left: 23%;
        position: absolute;
        top: 48%;
        transition: .6s;
        transform: translateY(-50%);
    }
}
