.swquiz-menu{
    width:100%;
    height: 100px;
    border-radius: var(--border-radius);
    background: white;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    box-shadow: 0px 3px 35px var(--box-shadow-color);
}

.swquiz-menu-button{
    font-size:2rem;
    background: transparent;
    border:none;
    cursor: pointer;
    color:rgb(190, 190, 190);
    font-weight: 600;
    font-family: 'Montserrat', sans-serif;
}

.swquiz-menu-button.active{
    color:black;
    transform: translateY(-5px);
    position: relative;
}

.swquiz-menu-button.active::after{
    content:"";
    position: absolute;
    bottom:-10px;
    left:0px;
    width: 100%;
    height: 5px;
    border-radius: var(--border-radius);
    background-color:rgb(255, 55, 55);
    box-shadow: 0px 3px 35px var(--box-shadow-color);
}