#modalWindow {
    opacity: 1 !important;
}

.modalWindow-container {
    position: absolute;
    width: 1200px;
    height: 890px;
    background: #fff;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 4px 4px 40px rgba(255, 0, 0, 0.9);
    border-radius: var(--border-radius);
    z-index: 101;
    top: 5vh;
    margin: auto 15vw;
}

.darkerBody {
    backdrop-filter: brightness(10%);
    z-index: 100;
}