.swquiz-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%;
  background: var(--base-white);
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow-property);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-size: 1.5em;
  padding: 3vw;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1050;
  
  &--paragraph {
    font-weight: 600;
  }

  &--middleContainer {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    max-height: 70%;
    font-weight: 600;
    margin-top: 20px;
  }
  &--photoContainer {
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }
  &--photo {
    max-height: 300px;
  }
  &--detailedAnswers {
    max-height: 300px;
    overflow-y: scroll;
  }
  &--table {
    width: 100%;
    img {
      max-height: 100px;
      box-shadow: var(--box-shadow-property);
      border-radius: var(--border-radius);
    }
    tbody {
      width: 100%;
    }
    tr {
      width: 100%;
      display: flex;
      justify-content: space-evenly;
      margin: 20px 0 20px;
      td {
        width: 25%;
        display: flex;
        justify-content: center;
        align-items: center;
      }
    }
  }
  &--form {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-areas:
      'input label'
      'button button';

    .swquiz-modal {
      &--nameInput {
        grid-area: input;
        font-size: 1em;
        border-radius: var(--border-radius);
        border: 2px solid gray;
      }
      &--label {
        grid-area: label;
        padding: 5px;
        font-weight: 600;
      }
      &--button {
        grid-area: button;
        font-size: 1.2em;
        width: 70%;
        height: 6vh;
        justify-self: center;
        color: white;
        border-radius: var(--border-radius);
        background-color: red;
        box-shadow: var(--box-shadow-simple), 4px 4px 40px rgba(255, 0, 0, 0.9);
        margin-top: 3vw;
        cursor: pointer;
        border: none;
      }
    }
  }
}

.success {
  color: rgb(58, 114, 14);
}

.danger {
  color: rgb(159, 6, 6);
}


.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-height: 100vh;
  z-index: 1000;
  background: rgba(0, 0, 0, 0.75);
}
