.ranking-row {
  background-color: white;
  grid-column-gap: 10px;
  margin-bottom: 10px;
  display: grid;
  grid-template-columns: 0.15fr 0.7fr 0.15fr;
  grid-template-areas: 'place nickname score';
}

.place {
  grid-area: place;
}

.nickname {
  grid-area: nickname;
}

.score {
  grid-area: score;
}
