.button--white {
    background-color: var(--base-white);
    color: var(--base-black);
    border: none;
    box-shadow: var(--box-shadow-simple);
}

.button--white::first-letter {
    text-transform: uppercase;
}

.button > p {
    padding-left: 2em;
}