@import './components/gameHeader.css';

:root {
    --border-radius: 15px;
    --box-shadow-color: red;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0 5vw;
}

.button {
    border-radius: 16px;
    font-size: 42px;
    font-weight: 500;
    height: 100px;
    line-height: 51.2px;
    width: 600px;
}

.button--red {
    background: rgba(255, 0, 0, 0.8);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: #fff;
}

.button--uppercase {
    text-transform: uppercase;
}
