@import './components/gameHeader.css';
@import './components/mainMenu.css';

:root {
    --border-radius: 15px;
    --box-shadow-color: red;
}

body {
    font-family: 'Montserrat', sans-serif;
    padding: 0 5vw;
}
